[Unit]
Description=Sync work calendar timer

[Timer]
#OnBootSec=0min
#OnCalendar=*:*:0/30
OnCalendar=Mon..Fri *-*-* *:0/10:00
#OnUnitActiveSec=600
Unit=sync_work_calendar.service

[Install]
#WantedBy=multi-user.target
WantedBy=timers.target
