[Unit]
Description=Sync work calendar timer
Unit=sync_work_calendar.service

[Timer]
OnBootSec=0min
OnCalendar=*:*:0/30
Unit=sync_work_calendar.service

[Install]
#WantedBy=multi-user.target
WantedBy=timers.target
