(
    selected_tab: Some(Green),
    command_fg: None,
    selection_bg: Some(Reset),
    selection_fg: Some(Gray),
    cmdbar_bg: None,
    cmdbar_extra_lines_bg: Some(LightCyan),
    disabled_fg: Some(LightGreen),
    diff_line_add: None,
    diff_line_delete: None,
    diff_file_added: Some(Green),
    diff_file_removed: Some(Red),
    diff_file_moved: Some(Yellow),
    diff_file_modified: Some(Blue),
    commit_hash: Some(LightMagenta),
    commit_time: Some(LightRed),
    commit_author: Some(Yellow),
    danger_fg: None,
    push_gauge_bg: None,
    push_gauge_fg: Some(Black),
    tag_fg: None,
    branch_fg: None,
)