[misc]

pre_sudo = true


disable = ["nix", "containers"]
# Disable specific steps - same options as the command line flag
#disable = ["system", "emacs"]

# Run specific steps - same options as the command line flag
#only = ["system", "emacs"]

# Do not ask to retry failed steps (default: false)
no_retry = true

# Cleanup temporary or old files
cleanup = true

[git]
#max_concurrency = 5
# Additional git repositories to pull
#repos = [
#    "~/src/*/",
#    "~/.config/something"
#]
repos = [
    "~/dev/*/"
]

# Don't pull the predefined git repos
#predefined_repos = false

# Arguments to pass Git when pulling Repositories
#arguments = "--rebase --autostash"


# Commands to run before anything
[pre_commands]
"Update Home Manager Flake" = "nix flake update --flake ~/.config/home-manager/ && yadm commit -m 'Update Home Manager Flake' -- ~/.config/home-manager/flake.lock || true"

# Custom commands
[commands]
#"Base Conda Environment" = "~/miniconda3/bin/mamba upgrade --all"
#"Python Environment" = "~/dev/.env/bin/pip install -i https://pypi.python.org/simple -U --upgrade-strategy eager jupyter"

"Cleanup Nix Store" = "nix-collect-garbage -d"
"Cleanup Conda detritus" = "micromamba clean --all --yes"

"Upgrade uv" = "uv self update"
"Upgrade uv installed tools" = "uv tool upgrade --all"


